rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{collectionName}/{document=**} {
      allow read : if collectionName == "correct-answers"
      allow write: if false
    }
  }
} 