$image-bg-color: #121212;

$bar-height: 5rem;
$bar-spacing-num: 12; //%
$bar-font-size-num: 23; //%
$bar-icon-size: 60%;
$bar-font-color: #ccc;
$bar-darker-color: #202020;
$bar-lighter-color: #404040;
$bar-bg-color: rgba(
  $color: #121212,
  $alpha: 0.4,
);
$hover-color: #333333;
$active-color: #262626;
$success-color: #00b512;
$failure-color: #d9003a;


//Aux
$bar-spacing: $bar-height * ($bar-spacing-num*0.01);
$bar-content-size: $bar-height - ($bar-height - $bar-spacing * 4);
$bar-font-size: $bar-height * ($bar-font-size-num*0.01);
$bar-border-radius: $bar-spacing;
